student-attendance-automation-main/student low Attendance.json
{
  "name": "student low Attendance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8e19935c-d07c-4069-9d68-f452d4367658",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1STkYBybV1PP-hZfk02gNr2iO7VTiweF6su935lLLmRY",
          "mode": "list",
          "cachedResultName": "Student Attendance Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1STkYBybV1PP-hZfk02gNr2iO7VTiweF6su935lLLmRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 849252260,
          "mode": "list",
          "cachedResultName": "Student Attendance Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1STkYBybV1PP-hZfk02gNr2iO7VTiweF6su935lLLmRY/edit#gid=849252260"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b35840b4-6a5c-4ab2-9f1b-5b72e59b6d91",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGDJvVvuqtmC6iki",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86f60046-6e5c-4191-8292-f49f3769d343",
              "leftValue": "={{ $json.Attendance }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "982ea696-7fec-42fb-bc1a-008f9e8a494f",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "email ",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "44cd54eb-9b36-4307-bd1f-8db5aa4915db",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Action required low attendance alert",
        "message": "=Hi [{{ $json.Name }}], aapki current attendance [{{ $json.Attendance }}]% hai, jo ki minimum criteria se kam hai. Kripya niche diye gaye link par click karke form fill kar[Https://docs.google.com/forms/d/e/1FAIpQLSdAckWHdRQXQ6siM3BPKrqFvtdnYXjI2aKFVlhX26SyVzsdHQ/viewform?usp=publish-editor]. Regards, Admin.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "8bbaa738-656b-48cc-b1e3-461b3194e470",
      "name": "Send a message",
      "webhookId": "dfcde7c1-8694-416d-a859-0232205b989a",
      "credentials": {
        "gmailOAuth2": {
          "id": "NrnUFR38JDNyZZd3",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e71df27-a009-402f-a751-265a1c15e727",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e0a102403b75c500652ff05e2b71bd6a0c5875584495bf0fb7c8ce452313e8e"
  },
  "id": "SJrxop29km8CrFe0",
  "tags": []
}